.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh; /* Ajuste a altura conforme necessário para centralizar o formulário na página */
    background-color: #f4f4f4; /* Cor de fundo suave */
    font-family: 'Roboto', sans-serif;
}

.login-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.login-box h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    color: #ffffff;
    margin-bottom: 25px;
}

.input-group {
    text-align: left;
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    color: #ffffff;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Garante que o padding não aumente a largura total */
    font-size: 1em;
}

.login-button {
    width: 100%;
    padding: 15px;
    background-color: #ffffff;
    color: #ffd000;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    margin-top: 10px;
}

.login-button:hover {
    background-color: #ffffff;
}

.forgot-password {
    display: block;
    margin-top: 15px;
    color: #ffd000;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.forgot-password:hover {
    color: #555555;
}